[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pydantic = {extras = ["dotenv"], version = "*"}
click = "*"
click-default-group = "*"
openpyxl = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.0"
